@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Monsieur+La+Doulaise&display=swap');

body{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: rgb(151, 55, 6);
}

#mainContainer{
    position: relative;
    width: 700px;
    height: 300px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

#main-box{
    width: 700px;
    height: 300px;
    margin: 0;
    padding: 0;
}

#outer-large{
    position: absolute;
    border: 10px solid rgb(27, 13, 49);
    width: 690px;
    height: 290px;
    margin: 0;
    padding: 0;
}

#outer-small{
    position: absolute;
    border: 5px solid #e52e71;
    width: 690px;
    height: 290px;
    margin: 5px 0px 0px 5px ;
    padding: 0;
}

#top-heading-section{
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: -150px;
    display: flex;
    justify-content: space-around;
}

.icon{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 3px solid rgb(238, 147, 74);
    background-image: url("");
    object-fit: cover;
    border-style: dashed;
    display: grid;
    justify-content: center;
    align-items: center;
    -webkit-print-color-adjust : exact;
}
#main-heading{
    width: 290px;
    margin-top: 15px;
    text-align: center;
}

#main-heading>h1{
    font-size: 1.6rem;
}

#mid-section{

    position: absolute;
    width: 100%;
    display: grid;
    justify-content: space-around;
    margin-top: 20px;
}

#background-text{
    /* background-color: #973706; */
    background-image: url(./background.png);
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-print-color-adjust : exact;
}

.receiverName{
    display: grid;
    justify-content: center;
    border-bottom: 1px solid black;
    text-align: start;
}

.receiverName>p{
    font-size: 2.3rem;
    font-family: "Arizonia", cursive;
    margin: 10px 0 0 0;
    padding: 0;
    color: #ff8a00;
}

#bottom-section{
    position: absolute;
    /* border: 1px solid red; */
    background-color: transparent;
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 190px 0 0 0;
    padding: 0;
}

#bottom-heading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
}
#bottom-heading>p{
    padding: 0;
    margin: 0;
}
#bottom-text{
    text-align: center;
}
#bottom-text>p{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 550;
}

#company{
    display: flex;
    justify-content: center;
    align-items: center;
}

label[for="getCompanyName"]{
    font-size: 1.3rem;
    font-weight: 550;
    color: rgb(151, 55, 6);
}

#getCompanyName{
    outline: none;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 550;
    margin-left: 5px;
}

#receiver{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

label[for="getReceiverName"]{
    font-size: 1.3rem;
    font-weight: 550;
    color: rgb(151, 55, 6);
}

#getReceiverName{
    outline: none;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 550;
    margin-left: 5px;
}

button{
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    background-color: #973706;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}


button:hover{
    background-color: #ff8a00;
}

#print-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#print-btn-container>button{
    font-size: 1.2rem;
}

#getImage{
    display: grid;
    justify-content: center;
    align-items: center;
}
#getImage , #getImage *{
    margin: 10px 0 0 0;
}


@media print{

    #noPrint , #print-btn-container{
        display: none;
    }
    #mainContainer , #mainContainer*{
        display: block;
    }
}